<main>
    <div class="main-container">
        <h1>Forgot Password</h1>
        <h2 id="forgot-message">Ingrese su correo electrónico registrado para enviar las instrucciones de restablecimiento de contraseña</h2>
        <form class="controls" id="forgot-form">
            <input class="input" type="email" name="email" placeholder="Type an email">
            <input class="button" type="submit" value="Send Instructions">
        </form>
        <p>Ya estas registrado? Click <a href="/login">here</a></p>
        <p>No estas registrado? Click <a href="/register">here</a></p>
    </div>
</main>
<script src="/js/forgot.js"></script>