<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br>
        <label>Contraseña</label>
        <input name="password" type="password">
        <input type="submit">
    </form>
    <p>No estas registrado? <a href="/register">Registrate aqui</a></p>
</div>
<script src="/js/login.js"></script>