<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>{{user.first_name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
    <p>Role: {{user.role}}</p>
    <a href="/api/session/logout"><button>Salir</button></a>
    <a href="/products"><button>Seguir Comprando</button></a>
</div>