<main>
    <div class="main-container">
        <h1>Set New Password</h1>
        <form class="controls" id="reset-form">
            <input class="input" type="password" name="password" placeholder="Type a new password">
            <input class="button" type="submit" value="Reset Password">
        </form>
        <p>Ya estas registrado? Click <a href="/login">here</a></p>
        <p>No estas registrado? Click <a href="/register">here</a></p>
    </div>
</main>
<script src="/js/reset.js"></script>